*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 button{
    background-color: #6D1830;
    color: white;
    font-size: 14px !important;
    border: none;
    padding: 14px 18px;
    border-radius: 8px !important;
    font-weight: 600 !important;
}
header{
    position: fixed;
    z-index: 1;
    width: 100%;
}
#hero5{
    background-color: #14394c !important;
     
}
#hero{
    background-color: #fff9f2;
    margin-top: -50px;
}
#hero2{
    background-color: #fff9f2;
    padding-bottom: 60px;
    
}
div .hero10{
    background-image: url(img/Rectangle\ 55.png);
    height: 60vh;
}
 div.accordion-item  {
    background-color: #fff9f2;
}
#hero4{
    background-color: #14394c;
    margin-left: auto;
    margin-right: auto;

    }
    #hero3{
        background-color: #fff9f2;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
     }
    .data{
            border: 1px solid grey;
            border-radius: 6px;
            width: auto;
            height: auto;
      }
      .Subscribe{
        background-color: #fff9f2 !important;
        color: #6D1830;
        font-size: 14px !important;
        border: none;
        padding: 10px 20px;
        border-radius: 8px !important;
        font-weight: 600 !important;
    }
    #hero6{
        background-color: #6D1830;
    }
    #hero9{
        background-color: #fff9f2;
    }
 




@media screen and (max-width:767px){
    .picture2{
        width: 15%;
        margin-left: -100px;
       }
       .picture4{
        display: none;
    }
    div.get{
        margin-top: -120px;
    }
    button.butt{
        margin-left: -100px;
       }
       h2.accordion-header  {
        background-color: #fff9f2;
        margin-left: -200px;
    }
     div.get1{
        margin-top: -100px;
    }
    .picture3{
        width: 35%;
    }
    .picture{
        margin-left: -70px;
        width: 25%;
       }
       div .hero10{
        flex-direction: row-reverse;
     flex-wrap: wrap-reverse;
     height: auto;
    }
    #hero2{
    }
    div .get2{
        padding-left: 40px;
        position: relative;
        margin-top: -90px;
       }
       div .Yes{
        padding-left: 50px;
        padding-top: 20px;
       }
        #hero9{
        margin-top: -200px;
       }
       div .Frequently{
        background-color: #fff9f2;
       }
      

}




@media screen and (min-width:768px) and (max-width:988px){
    div .Yes{
      margin-top: 100px;
    }
  }