*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 button{
    background-color: #6D1830;
    color: white;
    font-size: 14px !important;
    border: none;
    padding: 14px 18px;
    border-radius: 8px !important;
    font-weight: 600 !important;
}
header{
    position: fixed;
    z-index: 0px;
    width: 100%;
}
#hero5{
    background-color: #14394c !important;
     
}
h2{
    color: #6D1830 !important;
}
.Subscribe{
    background-color: #fff9f2 !important;
    color: #6D1830;
    font-size: 14px !important;
    border: none;
    padding: 10px 20px;
    border-radius: 8px !important;
    font-weight: 600 !important;
}
#hero6{
    background-color: #6D1830;
    margin-top: 100px;
}
footer{
    padding-bottom: 50px;
}





@media screen and (max-width:767px){
    .picture2{
        width: 15%;
        margin-left: -100px;
       }
       .picture4{
        display: none;
    }
    div.get{
        margin-top: -120px;
    }
    button.butt{
        margin-left: -100px;
       }
       .picture{
        margin-left: -70px;
        width: 25%;
       }
    

    }