.nav-item :hover{
    text-decoration: underline;
    color: #6D1830;
    justify-content: center;
    align-items: center;
    margin-left: 500px;

}
nav{
    position: fixed;
    z-index: 0px;
    width: 100%;
}

 div.btn{
    color: white;
    background-color: #6D1830 !important ;  
    font-size: x-large ;
    margin-left: 200px;
    justify-content:center ;
    align-items: center;
}
main{
    background-color: #fff9f2;
    display: flex;
    
}
.para4{
    margin-top: 300px;
    margin-left: 100px;
}
.para{
    font-size: 45px; 
    width: 590px;
    font-weight: 600;
    font-family: Lora;
    line-height: 52px;
}
p.para2{
font-size: 25px ;
font-style: normal;
font-weight: 400;
line-height: 28px;
width: 590px;
}
div.stars{
    margin-left: -170px !important;
}
.para3{
    justify-content: center;
    align-items: center;
    margin-top: -150px;
    margin-left: 80px;
    width: 75%;
}
.para7{
    margin-left: 330px;
font-size: 18px;
font-weight: 500;
letter-spacing: 0.5px;
}
.para8{
    justify-content: center;
    align-items: center;
    margin-left: 250px;
}
.hr{
    width: 65%;
    margin-left: 200px;
    height: 1px;
    background-color: #6D1830;
}
.para11{
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-top: 170px;
}
.para10{
    margin-left: 100px;
    margin-top: 100px;
}
.para12{
    font-size: 24px;
    font-weight: 400;
    font-family: Lora;
}
.para14{
    font-size: 24px;
    font-weight: 400;
    font-family: Lora;
    width: 500px;
}
.para15{
    font-weight: 600;
    width: 600px;
}
.para16{
    margin-left: 100px;
    margin-top: 120px;
}
.para18{ 
    margin-left: 100px;
    margin-top: -20px;
    width: 75%;
}
.para19{
    margin-left: 100px;
    margin-top: 100px;
    width: 75%;
}
.para20{
    margin-left: 0px;
    margin-top: 210px;
    width: 650px;
}
.para21{
    font-size: 25px;
    font-weight: 400;
    font-family: Lora;
    width: 650px;
}
.para22{
background-color:#fff9f2;
height: 80vh;
width: 100%;

}
.para23{
    width: 85%;
    height: 50vh;
    margin-left: 150px;
    margin-top: 100px;
}
.para24{
    width: 20%;
    margin-top: 20px;
    margin-left: -1000px;
}
.para25{
    margin-top: 140px;
    margin-left: 150px;
}
.para26{
    color: var(--text-icon-on-black-bg-primary, #FFF);
    font-family: Lora;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
}
.para27{
    color: var(--text-icon-on-black-bg-primary, #FFF);
margin-top: 20px;
font-size: 24px;
font-style: normal;
width: 400px;
}
.para28{
    display: flex;
    height: 58px;
    padding: 20px 38px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}
.para29{
    background-color:#fff9f2;
    height: 95vh;
    width: 100%;
    }
    .para30{
        margin-left: 400px;
        padding-top: 20px;
    }
    .para31{
        margin-left: 300px;
        margin-top: 50px;
        width: 57%;
    }
    .para32{
        margin-left: 230px;
        gap: 1px;  
    }
    .para34{
        width: 75%;
    }
    .para33{
        background-color: #fff9f2;
        width: 100%;
        height: auto;
    }
    .para35{
        display: flex;
        width: 57%;
        height: auto;
        border: solid #6D1830;
        border-radius: 20px;
        margin-left: 270px;
        background-color: white;
    }
    .para36{
        background-color: #fff9f2;
        width: 100%;
        height: auto;
        padding-top: 30px;
    }.para37{
        padding: 120px 20px;
    }
    .para38{
      padding-top: 20px;
    }
    .para39{
       margin-top: -657px;
    }
    .para40{
        height: 63vh;
        width: 100%;
    }
    .para41{
        margin-top: 260px;
        width: 60%;
    }
    .para42{
       background-color: #fff9f2;
        padding-top: 120px;
    }
    .para45{
        width: 30%;
        margin-top: 320px;
        margin-left: 100px;
    }
    .para43{
     color: var(--text-icon-on-black-bg-primary, #FFF);

     font-family: Lora;
        font-size: 32px;
     font-style: normal;
     font-weight: 600;
        

    }
    .para44{
        color: var(--text-icon-on-black-bg-primary, #FFF);
        font-family: Lora;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
    }
    .para49{
        color: #000;
        font-family: Lora;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        width: 500px;
    }
    .para50{
        margin-left: 100px;
        margin-top: 200px;
        gap: 10px;
    }
    .para51{
        width: 75%;
    }
    .para52{
        width: 75%;
        margin-top: 20px;
    }
    .para53{
        background-color: #fff9f2;
        width: 100%;
        height: auto;
        margin-top: 200px;
        padding-bottom: 50px;
    }
    .para54{
        padding: 60px 1px;
        margin-left: 350px;
    }
    .para55{
        width: 100%;
        margin-left: 100px;
    }
    .boss{
        width: 100%;
    }
    .boss1{
        width: 100%;
        margin-left: -20px;
    }
    .boss2{
        width: 100%;
        margin-left: -40px;
    }
    .para56{
        background-color: #6D1830;
        width: 100%;
        height: 30vh;
        padding-top: 50px;
    }
    .para57{
        color: var(--text-icon-on-black-bg-primary, #FFF);
        font-size: 30px;
        font-weight: 400;
        line-height: 28px; 
        margin-top: 100px;
    }
    .para58{
        font-size: 20px;
        color: white;

    }
    .para59{
        margin-top: 120px;
        margin-left: 200px;
        width: 300px;
        height: 50px;
        border-radius: 8px;
    }
    .para60{
        margin-top: 122px;
        margin-left: 10px;
    }
    .para61{
        /* margin-left: 200px; */
    }
    .para62{
        margin-top: -100px;
        margin-left: 70px;
    }
    .para63{
        margin-top: 100px;
        margin-left: 70px;
    }
    .para64{
        margin-left: 500px;
    }
    .para65{
        margin-left: 700px;
    }
     







@media screen and (max-width: 481px){
    main{
        background-color: #fff9f2;
        display: flex;
        flex-direction: column;
        width: 100%;
    
    }
    div.btn{
        margin-left:    10px;
    }

    .nav{
        width: 481px;
        position: fixed;
    }
    .para4{
        background-color: #fff9f2;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-top: 40px;
        width: 10%;
        
    }
    .para{
        font-size: 37px; 
        width: 300px;
        font-weight: 600;
        font-family: Lora;
        margin-left:20px;
        margin-top: 100px;
    
    }
    p.para2{
        font-size: 18px ;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        width: 300px;
        margin-left: 30px;
        }
        button.btn1{
            font-size: 16px;
            display: flex;
            height: 58px;
            width: 190px;
            align-items: center;
            margin-left: 80px;
            
            }
            .stars{
               
                margin-top: 30px;
                margin-left: -255px;
                
            }
            .down{
                margin-left: 80px;
            }
            .para3{
               
               margin-top: 60px;
               width: 280px;
               height: 280px;
               margin-left: -130px;
               padding-bottom: 120px;
    
            }
            .para8{
        margin-top: 20px;
                margin-left: -160px;
                padding-left: 40px;
            } 
            .para7{
            margin-left: 250px;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            letter-spacing: 0.5px;
            }  
            .para9{
                width: 65%;
                margin-left: 150px;
            } 
            .hr{
                width: 80%;
                margin-left: 40px;
                height: 1px;
                margin-top: 10px;
                padding-left: 40px;
            }
            .para13{
                display: flex;
                flex-direction: column;
                width: 100%;
                padding-left: 10px;
            }
            .para10{
                margin-left: 10px;
                margin-top: 500px;
                width: 90%;
                justify-content: center;
                align-items: center;
            }
            .para11{
                justify-content: center;
                align-items: center;
                margin-left: 40px;
                margin-top: -820px;
                width: 80%;
            }
            .para17{
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-left: 10px;
            }
            .para16{
                margin-left: 30px;
                margin-top: 550px;
                width: 85%;
                justify-content: center;
                align-items: center;
                
            }
            .para14{
                font-size: 20px;
                font-weight: 400;
                font-family: Lora;
                width: 90%;
                margin-left: 7px;
            }
            .para15{
                font-weight: 700;
                width: 350px;
                font-size: 30px;
                margin-left: 7px;
            }
            .para18{ 
                margin-left: 40px;
                margin-top: 20px;
                width: 85%;
            }
            
            .para19{
                margin-left: 0px;
                margin-top: 500px;
                width: 90%;
                justify-content: center;
                align-items: center;
            }
            .para20{
                justify-content: center;
                align-items: center;
                margin-left: 40px;
                margin-top: -900px;
                width: 80%;
            }
            .para21{
                font-size: 24px;
                font-weight: 400;
                font-family: Lora;
                width: 90%;
            }
            .para22{
                
                display: flex;
                flex-direction: column;
                margin-top: 570px;
                height: 80vh;
                
                }
                .para23{
                    width: 98%;
                    height: 700px;
                    margin-left: 1px;
                    margin-top: -1px;
                    
                }
                .para24{
                    margin-top: 300px;
                    margin-left: -350px;
                    width: 90%;
                    height: 65vh;
                }
                .para25{
                    margin-top:50px;
                    margin-left: -190px;
                    width: 80%;
                    
                }
                .para26{
                
                    font-family: Lora;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 400;
                    margin-left: -90PX; 
                }
                .para27{
                margin-top: 20px;
                font-size: 18px;
                font-style: normal;
                width: 280px;
                margin-left: -90PX;
                }
                .para28{
                    
                    height: 58px;
                    padding: 20px 38px;
                    justify-content: center;
                    align-items: center;
                   margin-left: -65PX;
                    font-size: 18px;
                    font-weight: bold;
                }
                .para29{
                    margin-top: -50px;
                    height: 2%;
                    width: 100%;
                  

                 }
                 .para30{
                    font-size: 30px;
                    margin-left: 5px;
                    margin-top: 200px;
                    width: 95%;
                    padding-left: 40px;

                    font-weight: bold;
                    
                    
                    }
                    .para31{
                        display: flex;
                        flex-direction: column-reverse;
                        width: 50%;
                        display: none;

                    }
                    .para32{
                        display: flex;
                        flex-direction: column;
                        margin-left: 10px;
                        padding-left: 1px;
                        
                    }
                    .para33{
                        width: 100%;
                        height: auto;
                        padding-top: 0px;
                    }
                    .para34{
                        width: 90%;
                        margin-left: 25px;
                    }
                    .para35{
                        display: flex;
                        flex-direction: column;
                        width: 90%;
                        margin-left: 25px;
                    }
                    .para38{
                        width: 80%;
                        margin-top: -90px;
                    }
                    .para36{
                        width: 100%;
                    }
                    .para42{
                
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 80vh;
                        }
                        .para40{
                            width: 98%;
                            height: 1000px;
                            margin-left: 1px;
                            margin-top: -1px;
                        }
                        .para39{
                            margin-top: 300px;
                            margin-left: 20px;
                            width: 90%;
                            height: 65vh;
                        }
                        .para41{
                            margin-top:-2120px;
                            margin-left: -15px;
                            width: 95%;
                            height: 60vh; 
                        }
                        .para43{
                        
                            font-family: Lora;
                            font-size: 38px;
                            font-style: normal;
                            font-weight: 400;
                            margin-left: 0PX; 
                            width: 350px;
                        }
                        .para44{
                        margin-top: 20px;
                        font-size: 26px;
                        font-style: normal;
                        width: 350px;
                        margin-left: 0PX;
                        color: white;
                        }
                        .para45{
                             margin-top: -700px;
                            height: 58px;
                            /* padding: 20px 38px; */
                            width: 100%;
                           margin-left: -290PX;
                            font-size: 18px;
                            font-weight: bold;
                        

                            }
                            .para46{
                              margin-left: 60px;  
                            }
                            .para50{
                                display: flex;
                                flex-direction: column;
                                width: 100%;
                                margin-top: 520px;
                                margin-left: 10px;
                            }
                            .para48{
                                font-size: 32px;
                                margin-left: 20px;
                                margin-top: 100px;
                            }
                            .para49{
                                width: 87%;
                                margin-top: 20px;
                                margin-left: 20px;
                            }
                            .para51{
                                width: 95%;
                                height: 45vh;
                                margin-left: 1px;
                            }
                            .para52{
                                width: 92%;
                                margin-left: 1px;
                            }
                            .para53{
                                 display: flex;
                                flex-direction: column; 
                                height: auto;
                                width: 100%;
                                margin-top: 50px;
                            }
                            .boss1{
                                margin-left: 7px;
                            }
                            .boss2{
                                margin-left: 12px;
                            }
                            .para55{
                                display: flex;
                                flex-direction: column;
                                margin-left: 30px;
                                width:100% ;
                                gap: 40px;
                            }
                            .para54{
                               
                                margin-left: 20px;
                                font-size: 35px;
                            }
                            .para56{
                                margin-left: 1px;
                                width: 100%;
                                height: auto;
                                margin-top:px ;
                            }
                            .para62{
                                display: flex;
                                flex-direction: column;
                                gap: 20px;
                                margin-left: 10px;
                                width: 95%;
                            }
                            .para57{
                                width: 95%;
                                margin-left: 20px;
                                font-size: 25px;
                            }
                            .para58{
                                margin-left: 20px;
                            }
                            .para59{
                                margin-top: -200px;
                                margin-left: 10px;
                            }
                            .para60{
                                margin-left: 10px;
                                margin-top: -1px;
                                padding-bottom: 30px;
                            }
                            .para63{
                                margin-top: 100px;
                                display: flex;
                                flex-direction: column;
                                margin-left: 30px;
                                width: 98%;

                            }
                            .para67{
                                display: flex;
                                flex-direction: column;
                                gap: -15px;
                                width: 100%;
                            }
                            .para64{
                                margin-left: 20px;
                                margin-top: 50px;
                            }
                            .para65{
                                margin-left: 20px;
                                /* flex-direction: column; */
                                display: flex;
                                margin-top: 50px;
                                margin-left: -140px;
                            }
                            .para68{
                                display: none; 
                            }
                           
                            



}
