*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#hero{
    background-color:#fff9f2 ;
}
#hero9{
    background-color:#fff9f2 ;
}
header{
    position: fixed;
    z-index: 1;
    width: 100%;
}
#clients{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
#clients img{
    border-bottom: 2px solid gray;
    padding-bottom: 20px;
}
.rect{
    width: auto;
    height: 50vh;
    border-radius: 1px solid ;
    background-color: #14394c;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
}
#hero2{
background-color: #fff9f2;
margin-left: auto;
margin-right: auto;
}
#hero4{
background-color: #14394c;
margin-left: auto;
margin-right: auto;
}
#hero3{
background-color: #fff9f2;
margin-left: 0px;
margin-right: 0px;
width: 100%;
}
.superhero{
    border-top: 2px solid grey;
    padding-top: 40px;
}
#cont{
border-radius: 10px;
border: 2px solid brown;
background-color: white;
width: 95%;
justify-content: center;
align-items: center;
}
button{
    background-color: #6D1830;
    color: white;
    font-size: 14px !important;
    border: none;
    padding: 14px 18px;
    border-radius: 8px !important;
    font-weight: 600 !important;
}
.Subscribe{
    background-color: #fff9f2 !important;
    color: #6D1830;
    font-size: 14px !important;
    border: none;
    padding: 10px 20px;
    border-radius: 8px !important;
    font-weight: 600 !important;
}
.data{
border: 1px solid gray;
border-radius: 6px;
width: auto;
height: auto;
}
#hero5{
    background-color: #6D1830;
    
}
.background{
    background-image: url(img/Rectangle\ 55.png);
    height: 60vh;
    margin-top: -100px;
}
.background2{
    margin-top: -150px;
}






@media screen and (max-width: 767px){
   .hero3{
    margin-left: -100px;
   }
   #cont{
    margin-top: 20px;
   }
   .container .experience{
       flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
   }
   .power{
    position: relative;
     bottom: 70px;
   }
    .privacy{
    margin-top:50px ;
   }
    div .get1{
    margin-top: -100px;
   }
   .picture{
    margin-left: -70px;
    width: 25%;
   }
   .picture2{
    width: 15%;
    margin-left: -100px;
   }
   .picture3{
    width: 35%;
   }
   .spanabout{
    margin-left: -20px;
    width: 100% !important;
   }
   button.butt{
    margin-left: -100px;
   }
   div .get2{
    padding-left: 10px;
   }
  img .fone{
    margin-top: 60px !important;
   }
   div .background{
    flex-direction: row-reverse;
 flex-wrap: wrap-reverse;
 height: auto;
}
 div .Yes{
    margin-top: 50px;
}
#hero9{
  margin-top: -160px;
}
.superhero{
    background-color: #fff9f2;
    padding-bottom: 50px;
    margin-top: -80px;
    
}
.down1{
    margin-left: 90px;
    display: flex;
    flex-direction: column;
}

}


@media screen and (min-width:768px) and (max-width:988px){
  div .get{
    margin-top: -70px;
  }
}
